Сарксиян Артем Оганнесович НММбд-01-22

№1 Откройте файл с таблицей (не забудьте про её формат). Выведите последние 10 строк. Посмотрите на данные и скажите, что они из себя представляют, сколько в таблице строк, какие столбцы?
№2 Ответьте на вопросы: Сколько заказов попало в выборку? Сколько уникальных категорий товара было куплено? (item_name)

In [4]:
import pandas as pd

baza = pd.read_csv('chipotle.tsv', sep='\t')

list10 = baza.tail(10)
print(list10)
print(baza.info())

counthorder = baza['order_id'].nunique()

countdistinct = baza['item_name'].nunique()

print("Количество заказов в выборке:", counthorder)
print("Количество уникальных категорий товара:", countdistinct)

      order_id  quantity            item_name  \
4612      1831         1        Carnitas Bowl
4613      1831         1                Chips
4614      1831         1        Bottled Water
4615      1832         1   Chicken Soft Tacos
4616      1832         1  Chips and Guacamole
4617      1833         1        Steak Burrito
4618      1833         1        Steak Burrito
4619      1834         1   Chicken Salad Bowl
4620      1834         1   Chicken Salad Bowl
4621      1834         1   Chicken Salad Bowl

                                     choice_description item_price
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25
4613                                                NaN     $2.15
4614                                                NaN     $1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75
4616                                                NaN     $4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 126.5+ KB
None
Количество заказов в выборке: 1834
Количество уникальных категорий товара: 50

№3 Есть ли в данных пропуски? В каких колонках?

In [8]:
import pandas as pd

baza = pd.read_csv('chipotle.tsv', sep='\t')

apass = baza.columns[baza.isnull().any()]
if apass.empty:
    print("нет пропусков")
else:
    print("пропуск в колонке:")
        for column in apass:
        print(column)

пропуск в колонке:

Заполните пропуски пустой строкой для строковых колонок и нулём для числовых.

In [9]:
import pandas as pd

baza = pd.read_csv('chipotle.tsv', sep='\t')

for column in baza.columns:
    if baza[column].dtype == 'object':
        baza[column].fillna('', inplace=True)
    else:
        baza[column].fillna(0, inplace=True)

if baza.isnull().values.any():
    print("пропуски:")
else:
    print("все заполнено")

все заполнено

№4 посмотрите внимательнее на колонку с ценой товара. Какого она типа? Создайте новую колонку так, чтобы в ней цена была числом. Для этого попробуйте применить функцию-преобразование к каждой строке вашей таблицы (для этого есть соответствующая функция).

In [12]:
import pandas as pd

baza = pd.read_csv('chipotle.tsv', sep='\t')

print("Тип данных в колонке 'item_price':", baza['item_price'].dtype)
baza['price_numeric'] = pd.to_numeric(baza['item_price'], errors='coerce')
print("новый тип данных в 'price_numeric':", baza['price_numeric'].dtype)

Тип данных в колонке 'item_price': object
новый тип данных в 'price_numeric': float64

Какая средняя/минимальная/максимальная цена у товара?

In [ ]:
import pandas as pd

baza = pd.read_csv('chipotle.tsv', sep='\t')

average_price = baza['price_numeric'].mean()

min_price = baza['price_numeric'].min()

max_price = baza['price_numeric'].max()

print(f"Средняя цена товара: {average_price}")
print(f"Минимальная цена: {min_price}")
print(f"Максимальная цена: {max_price}")

Удалите старую колонку с ценой.

In [14]:
import pandas as pd

baza = pd.read_csv('chipotle.tsv', sep='\t')

baza.drop('item_price', axis=1, inplace=True)

baza.to_csv('file_updated.tsv', sep='\t', index=False)

№5 Какие 5 товаров были самыми дешёвыми и самыми дорогими? (по item_name)
Для этого будет удобно избавиться от дубликатов и отсортировать товары. Не забудьте про количество товара.

In [ ]:
import pandas as pd

baza = pd.read_csv('chipotle.tsv', sep='\t')

baza.drop_duplicates(inplace=True)

sorted_baza = baza.sort_values(by=['price_numeric', 'item_name'])

cheap = sorted_baza.head(5)
expensive = sorted_baza.tail(5)
print("Самые дешевые товары:", cheap[['item_name', 'price_numeric']])
print("Самые дорогие товары:", expensive[['item_name', 'price_numeric']])

№6 Сколько раз клиенты покупали больше 1 Chicken Bowl (item_name)?

In [17]:
import pandas as pd

baza = pd.read_csv('chipotle.tsv', sep='\t')
chicken = baza[(baza['item_name'] == 'Chicken Bowl') & (baza['quantity'] > 1)]
count = chicken.shape[0]

print(f"Клиенты покупали более 1 Chicken Bowl {count} раз")

Клиенты покупали более 1 Chicken Bowl 33 раз

№7 Какой средний чек у заказа? Сколько в среднем товаров покупают?

In [ ]:
import pandas as pd

baza = pd.read_csv('chipotle.tsv', sep='\t')

avg = baza['total_price'].mean()

avg1 = baza['quantity'].mean()

print(f"Средний чек: {avg}")
print(f"Среднее количество товаров: {avg1}")

№8 Сколько заказов содержали ровно 1 товар?

In [20]:
import pandas as pd

baza = pd.read_csv('chipotle.tsv', sep='\t')
count = baza.groupby('order_id')['quantity'].sum()
onlyone = count[count == 1].count()

print(f"Количество заказов, где был только один товар: {onlyone}")

Количество заказов, где был только один товар: 56

№9 Какая самая популярная категория товара?

In [ ]:
import pandas as pd

baza = pd.read_csv('chipotle.tsv', sep='\t')
popular = baza['category'].mode()[0]

print(f"Самая популярная категория : {popular}")

№10 Какие виды Burrito существуют? Какой из них чаще всего покупают? Какой из них самый дорогой?

In [ ]:
burrito = baza[baza['item_name'].str.contains('Burrito', case=False)]['item_name'].unique()
mostburrito = baza[baza['item_name'].str.contains('Burrito', case=False)]['item_name'].mode()[0]
mostexpensive = baza[baza['item_name'].str.contains('Burrito', case=False)].groupby('item_name')['price_numeric'].max().idxmax()

print(f"Виды: {', '.join(burrito)}")
print(f"Чаще всего покупают: {mostburrito}")
print(f"Самый дорогой: {mostexpensive}")

№11 В каком количестве заказов есть товар, который стоит более 40% от суммы всего чека?

In [ ]:
import pandas as pd

baza = pd.read_csv('chipotle.tsv', sep='\t')
baza['item_total'] = baza['price_numeric'] * baza['quantity']

total = baza.groupby('order_id')['item_total'].sum()
expensive = total[total * 0.4 < data.groupby('order_id')['item_total'].sum()].count()

print(f"Количество заказов, где есть товар, стоимость которого превышает 40% от суммы всего чека: {expensive}")

№12 Предположим, что в данных была ошибка и Diet Coke (choice_description), который стоил $1.25, должен был стоить 1.35. Скорректируйте данные в таблицы и посчитайте, на какой процент больше денег было заработано с этого товара. Не забывайте, что количество товара не всегда равно 1.

In [ ]:
import pandas as pd

baza = pd.read_csv('chipotle.tsv', sep='\t')
baza.loc[(baza['item_name'] == 'Diet Coke') & (baza['choice_description'] == '[Diet Coke]'), 'price_numeric'] = 1.35
baza['total_revenue_before'] = baza['quantity'] * data['price_numeric']
baza['total_revenue_after'] = baza['quantity'] * 1.35

totalrevenue = ((baza['total_revenue_after'].sum() - baza['total_revenue_before'].sum()) / baza['total_revenue_before'].sum()) * 100

print(f"выручка больше с товара Diet Coke на : {totalrevenue:.2f}%")

№13 создайте новый DateFrame из матрицы, созданной ниже. Назовите колонки index, column1, column2 и сделайте первую колонку индексом.

In [25]:
import pandas as pd
import numpy as np

baza = np.array([[1, 'P', 'X'],
                 [2, 'L', 'Y'],
                 [3, 'M', 'Z']])

df = pd.DataFrame(baza, columns=['index', 'column1', 'column2'])

df.set_index('index', inplace=True)

print(df)

      column1 column2
index
1           P       X
2           L       Y
3           M       Z

Сохраните DataFrame на диск в формате csv без индексов и названий столбцов.

In [28]:
import pandas as pd
import numpy as np

baza = np.array([[1, 'P', 'X'],
                 [2, 'L', 'Y'],
                 [3, 'M', 'Z']])
df = pd.DataFrame(baza, columns=['index', 'column1', 'column2'])

df.to_csv('output.csv', index=False, header=False)

2. Визуализации и matplotlib

№14 Постройте гистограмму распределения сумм покупок и гистограмму средних цен отдельных видов продуктов item_name.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

baza = pd.read_csv('chipotle.tsv', sep='\t')

plt.figure(figsize=(10, 6))
plt.hist(baza['total_price'], bins=25, color='red', edgecolor='green')
plt.title('Гистограмма распределения сумм покупок')
plt.xlabel('Сумма покупки')
plt.ylabel('Частота')
plt.grid(axis='y', alpha=0.75)
plt.show()

average_prices = baza.groupby('item_name')['price_numeric'].mean()
plt.figure(figsize=(12, 6))
plt.bar(average_prices.index, average_prices.values, color='blue')
plt.title('Гистограмма средних цен отдельных видов продуктов')
plt.xlabel('Название продукта')
plt.ylabel('Средняя цена')
plt.xticks(rotation=45)
plt.grid(axis='y', alpha=0.75)
plt.show()

№15 Постройте график зависимости суммы покупок от дней.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

baza = pd.read_csv('chipotle.tsv', sep='\t')

baza['date'] = pd.to_datetime(baza['date'])

day = baza.groupby('date')['total_price'].sum()

plt.figure(figsize=(12, 6))
plt.plot(day.index, day.values, marker='a', color='g', linestyle='-')
plt.title('Зависимость суммы покупок от дней')
plt.xlabel('Дата')
plt.ylabel('Сумма покупок')
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

№16 Постройте средних сумм покупок по дням недели (bar plot).

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

baza = pd.read_csv('chipotle.tsv', sep='\t')

baza['date'] = pd.to_datetime(baza['date'])

baza['day_of_week'] = baza['date'].dt.day_name()

avg = baza.groupby('day_of_week')['total_price'].mean()

plt.figure(figsize=(10, 6))
avg.plot(kind='bar', color='r')
plt.title('Средние суммы покупок по дням недели')
plt.xlabel('День недели')
plt.ylabel('Средняя сумма покупок')
plt.xticks(rotation=45)
plt.grid(axis='y', alpha=0.75)
plt.show()

№17 Постройте график зависимости денег за товар от купленного количества (scatter plot).
№18 Сохраните график в формате pdf (так он останется векторизованным).

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

baza = pd.read_csv('chipotle.tsv', sep='\t')

plt.figure(figsize=(10, 6))
plt.scatter(baza['quantity'], baza['total_price'], color='y', alpha=0.6)
plt.title('Зависимость денег за товар от купленного количества')
plt.xlabel('Количество товара')
plt.ylabel('Сумма покупки')
plt.grid(True)
plt.show()

plt.savefig('scatter_plot.pdf', format='pdf')

plt.show()